#search_icon {
    padding-top: 8px;
    padding-left: 15px;
    color: black;
}

.dark_mode_size {
    font-size: 20px;
    cursor: pointer;
}

.search-form {
    margin: 0 1rem;
    flex-grow: 0.45;    /* <-- THE SECRET SAUCE! */
    min-width: 50px;
}

.offcanvas {
    margin-top: 4.3em;
}

.main_Class {
    margin-top: 100px;
    text-align: center;
}